nav-bar
.container.pad-top
  .embed-responsive.embed-responsive-16by9
    iframe.embed-responsive-item(src='https://www.ustream.tv/embed/23089313?html5ui&autoplay=true', allowfullscreen, webkitallowfullscreen)